html
    head
    title ADT wiki
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js")
    script(src="/javascripts/input.judge.js")
    script(src="/ueditor/ueditor.all.min.js")
    script(src="/ueditor/lang/zh-cn/zh-cn.js")
    body
        include ./header.jade
        div.container-fluid
            div.row
                div.col-xs-3.col-md-2
                div.col-xs-12.col-md-8
                    ol.breadcrumb(style="margin-top:80px;")
                        li
                            a(href="/") 主页
                        li.active 编辑
                    div.input-group
                        span.input-group-addon 标题
                        - if(article)
                            input.form-control#mytitle(type="text" placeholder="标题是必须要的哦...." value="#{article.title}")
                        - else
                            input.form-control#mytitle(type="text" placeholder="标题是必须要的哦....")
                    div(style="margin-top:10px;")
                        script(id="editor" type="text/plain" style="height:400px;")
                        - if(article)
                            script.
                                var ue = UE.getEditor('editor');
                                ue.addListener( 'ready', function( editor )
                                {
                                    ue.execCommand('focus');
                                    ue.setContent(!{JSON.stringify(article.content).replace(/<\//g, "<\\/")});
                                });
                                function getContent() {
                                    return UE.getEditor('editor').getContent();
                                }
                                function getAllHtml() {
                                    alert(UE.getEditor('editor').getAllHtml())
                                }
                                function setContent(content)
                                {
                                    ue.setContent(content);
                                }
                        - else
                            script.
                                var ue = UE.getEditor('editor');
                                ue.addListener( 'ready', function( editor )
                                {
                                    ue.execCommand('focus');
                                    ue.setContent("");
                                });
                                function getContent() {
                                    return UE.getEditor('editor').getContent();
                                }
                                function getAllHtml() {
                                    alert(UE.getEditor('editor').getAllHtml())
                                }
                                function setContent(content)
                                {
                                    ue.setContent(content);
                                }
                    div(style="margin-top:10px;")
                        - if(mycontent)
                            button.btn.btn-primary#commit-update 点击更新
                        - else
                            button.btn.btn-primary#commit-edit 点击提交
                div.col-xs-3.col-md-2
