nav.navbar.navbar-inverse.navbar-fixed-top
	div.container-fluid
		div.navbar-header
			a.navbar-brand(href="#") ADT文档查看系统
		div#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a 主 页
				li
					a 登 录
			form.navbar-form.navbar-right
				input.form-control(type="text" placeholder="搜索关键字") 
