doctype html
//if IE 8
  html.ie8(lang='en')  
//if IE 9
  html.ie9(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    include header
  // END HEAD
  // BEGIN BODY
  body.page-header-fixed.page-boxed
    include top
    .container
      // BEGIN CONTAINER
      .page-container.row-fluid
        // BEGIN SIDEBAR
        include left
        // BEGIN PAGE
        include contentBody
        // END PAGE
    // END CONTAINER
    include footer
  // END BODY
