html
    head
    title ADT wiki
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    body
        include ./header.jade
        div.container-fluid
            div.row(style="margin-top:80px;")
                div.col-xs-3.col-md-2
                div.col-xs-12.col-md-8
                    ol.breadcrumb
                        li
                            a(href="#")主页
                        li.active 文章列表
                    ul.list-group
                        li.list-group-item 
                            a.navbar-link 1、This is article one
                        li.list-group-item 
                            a.navbar-link 1、This is article one
                div.col-xs-3.col-md-2
