html
	head
	title ADT wiki
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet")
	script(src="/javascripts/jquery.min.js")
	script(src="/javascripts/bootstrap.min.js")
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbr-inner
			p(style="color:white;font-size:24px; padding:4px 0 0 5px;") ADT wiki
		div.container-fluid
			div.row(style="margin-top:80px;")
				div.col-xs-3.col-md-2
				div.col-xs-12.col-md-8
					div.jumbotron(style="padding-left:20px;")
						h1 my article title
						p
							| This is a simpale her 
							| 的飞洒地方说
						p
							a.btn.btn-primary(href="#" role="button") 更多
					div.jumbotron(style="padding-left:20px;")
						h1 my article title
						p
							| test
						p
							a.btn.btn-primary(href="#" role="button") 更多
				div.col-xs-3.col-md-2