html
 head
  title ADT wiki
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet")
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js")
  script(src="/ueditor/ueditor.all.min.js")
  script(src="/ueditor/lang/zh-cn/zh-cn.js")
 body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbr-inner
    p(style="color:white;font-size:24px; padding:4px 0 0 5px;") ADT wiki
  div.container-fluid
    div.row
        div.col-xs-3.col-md-2
        div.col-xs-12.col-md-8
            div.input-group(style="margin-top:80px;")
                span.input-group-addon 标题
                input.form-control(type="text" placeholder="标题是必须要的哦....")
            div(style="margin-top:10px;")
                script(id="editor" type="text/plain" style="height:400px;")
                script.
                    var ue = UE.getEditor('editor');
                    function getContent() {
                        var arr = [];
                        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
                        arr.push("内容为：");
                        arr.push(UE.getEditor('editor').getContent());
                        alert(arr.join("\n"));
                    }
                    function getAllHtml() {
                        alert(UE.getEditor('editor').getAllHtml())
                    }
            div(style="margin-top:10px;")
                button.btn.btn-primary(onclick="getContent()") 点击查看
        div.col-xs-3.col-md-2
