body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-border
{
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-tip
{
    display:none;
    border:1px solid #ddd;
    position:absolute; 
    z-index:10000; 
    margin:0px 60px 10px 0px; 
    width:77%;
    min-height:35px;
}

#search-list
{
    margin-bottom:0px;
}
